*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.833vw;
	line-height: 200%;
	color: #3d3c3c;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
*:link, 
*:visited, 
*:hover, 
*:focus,
*:active {
	outline: 0;
	-webkit-tap-highlight-color: transparent;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.container {
    max-width: 84.896vw;
	padding: 0 0.781vw;
}
.row {
	margin: 0 -0.833vw;
}
.row > div {
	padding: 0 0.833vw;
}

.header {
	font-size: 0.729vw;
	line-height: 140%;
	position: fixed;
	color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	border-bottom: 1px solid rgba(240, 243, 244, 0.3);
	transition: all 1s;
}
.wrapper_page .header,
.header.fixed {
	background: #2b160e;
	border-color: transparent;
}
.wrapper_page .header .logo-wrap,
.header.fixed .logo-wrap {
	top: 0;
}
.wrapper_page .header .logo img,
.header.fixed .logo img {
	width: 4.115vw;
}
.wrapper_page .header .header__wrapper,
.header.fixed .header__wrapper {
	padding: 0.521vw 0;
	padding-left: 7.083vw;
	padding-right: 17.448vw;
}
.wrapper_page .header .logo-descr,
.header.fixed .logo-descr {
	visibility: hidden;
	opacity: 0;
}
.wrapper_page .header .header__contacts,
.header.fixed .header__contacts {
	top: 0.833vw;
	margin-top: 0;
}
.wrapper_page .header .header__contact:nth-child(1),
.header.fixed .header__contact:nth-child(1) {
	display: none;
}
.header__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	transition: all 1s;
}
.menu {
	font-size: 0.781vw;
	font-weight: 700;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
.menu > li > a {
	height: 3.229vw;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: relative;
}
.menu > li > a::before {
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 1px;
	bottom: 0;
	left: 0;
	background: #fff;
	transition: all 0.5s;
}
.menu > li > a:hover::before {
	width: 100%;
}

.logo-wrap {
	top: 100%;
	margin-top: 0.521vw;
	position: absolute;
	left: 0;
	display: flex;
	align-items: center;
	transition: all 1s;
}
.logo-descr {
	font-size: 0.729vw;
	line-height: 140%;
	width: 9.792vw;
	margin-left: 0.833vw;
}
.logo img {
	width: 7.083vw;
	height: auto;
	transition: 1s;
}
.header__contact strong {
	font-weight: 600;
	display: block;
}
.header__contact:nth-child(1) {
	max-width: 10.208vw;
}
.header__contact:nth-child(2) {
	font-size: 0.833vw;
}
.header__contact p a {
	color: #fff;
}
.header__contacts {
	position: absolute;
	top: 100%;
	margin-top: 1.667vw;
	right: 0;
	display: flex;
	align-items: flex-start;
	transition: all 1s;
}
.phone-main strong {
	display: inline !important;
}
.header__contact p {
	margin-bottom: 0.469vw;
}
.header__contact p:last-child {
	margin-bottom: 0;
}
.header__contact {
	margin-right: 3.854vw;
}
.header__contact:last-child {
	margin-right: 0;
}

.billbord {
	min-height: 50vw;
	padding-top: 15.104vw;
	color: #fff;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-billbord {
	font-size: 2.5vw;
	max-width: 42.708vw;
	line-height: 142%;
	font-family: 'Gotham Pro';
}
.title-billbord strong {
	font-size: 3.333vw;
	line-height: 117%;
	text-transform: uppercase;
	display: block;
}
.billbord .container {
	position: relative;
}
.billbord__socials {
	right: 0.781vw;
	top: -2.083vw;
	position: absolute;
}
.list-socials a,
.billbord__socials a {
	width: 2.604vw;
	height: 2.604vw;
	border-radius: 50%;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.list-socials a img,
.billbord__socials a img {
	width: 1.094vw;
	height: auto;
}
.list-socials a:hover img {
	opacity: 0.7;
}
.billbord__socials li {
	margin-bottom: 1.094vw;
}

.about {
	padding-top: 5.469vw;
	padding-bottom: 6.667vw;
	background-image: url(../img/bg_about.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.about .row {
	margin: 0;
}
.about .row > div {
	padding: 0;
}
.about__info {
	padding: 3.75vw 3.073vw;
	padding-right: 4.167vw;
	background: #2b160e;
	color: #fff;
	min-height: 100%;
}
.about__info p {
	margin-bottom: 1.042vw;
}
.about__info p:last-child {
	margin-bottom: 0;
}
.title-section {
	font-size: 2.188vw;
	line-height: 76%;
	font-weight: 800;
	font-family: 'Gotham Pro';
	color: #2b160e;
}
.about__info .title-section {
	margin-bottom: 2.76vw;
	color: #e1ddd9;
}
.about__image {
	height: 22.708vw;
	width: 100%;
}
.about__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.about__head {
	padding: 1.771vw 3.958vw;
	font-size: 1.563vw;
	line-height: 140%;
	color: #2b160e;
	font-weight: 700;
}
.about__main {
	background: #fff;
	min-height: 100%;
}

.numbers {
	padding: 5.677vw 0;
}
.row.row_numbers .row,
.row.row_numbers {
	margin: 0;
}
.row.row_numbers .row > div,
.row.row_numbers > div {
	padding: 0;
}
.row_numbers .col-lg-5 .numbers__item p {
	max-width: 15.885vw;
}
.numbers__item {
	padding: 1.823vw 2.5vw;
	height: 13.958vw;
	color: #fff;
	font-weight: 600;
	position: relative;
	display: block;
	min-height: 100%;
	z-index: 1;
}
.numbers__title {
	font-size: 5vw;
	margin-bottom: 0.365vw;
	line-height: 90%;
	font-family: 'Gotham Pro';
	font-weight: 800;
}
.numbers__title span {
	font-size: 2.083vw;
	line-height: 80%;
}
.numbers__image {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
}
.numbers__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1.7s;
}
.numbers__item:hover .numbers__image img {
	transform: scale(1.07);
}
.numbers__image::before {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background:  linear-gradient(309deg, rgba(43, 22, 14, 0) 0%, rgba(43, 22, 14, 0.7) 100%);
}
.numbers__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.2);
}
.row_numbers .col-lg-7 .col-md-6 .numbers__title {
	font-size: 4.167vw;
}
.row_numbers .col-lg-7 .col-md-6 .numbers__image::after {
	display: none;
}
.row_numbers .col-lg-5 .numbers__item {
	margin-right: 3.438vw;
}
.row_numbers .col-lg-7 .row {
	margin-left: -3.438vw;
}
.row_numbers .col-12 .numbers__item p {
	max-width: 15.885vw;
}

.categories {
	padding: 3.854vw 0;
	background-image: url(../img/bg_categories.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.categories .title-section {
	margin-bottom: 1.823vw;
}
.row.row_main > div {
	margin-bottom: 1.667vw;
}
.row.row_main {
	margin-bottom: -1.667vw;
}
.item-category {
	padding: 0 2.7vw;
	padding-bottom: 1.667vw;
	font-size: 1.667vw;
	line-height: 100%;
	font-weight: 600;
	color: #fff;
	background: #fff;
	min-height: 100%;
	text-align: center;
	display: block;
	position: relative;
	transition: all 0.5s;
}
.item-category__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1.5s;
}
.item-category__title {
	display: block;
	width: 100%;
}
.item-category::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0.885vw;
	right: 0.99vw;
	width: 1.25vw;
	height: 1.302vw;
	background-image: url(../img/circle_arrow2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.5s;
}
.item-category:hover::after {
	transform: rotate(-45deg);
}
.item-category:hover {
	box-shadow: 0 0.26vw 0.781vw #ccc;
}

.partners {
	padding-top: 3.385vw;
	padding-bottom: 6.094vw;
}
.partners .title-section {
	margin-bottom: 4.167vw;
}
.item-partner {
	height: 6.771vw;
	padding: 0 0.521vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.slick-arrow {
	width: 2.604vw;
	height: 2.604vw;
	top: 50%;
	font-size: 1.146vw;
	color: #2B160E;
	transition: all 0.5s;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e1ddda;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow:hover {
	background: #2B160E;
	color: #e1ddda;
}
.slick-prev {
	left: -2.604vw;
}
.slick-next {
	right: -2.604vw;
}

.geography {
	padding-top: 3.49vw;
	padding-bottom: 2.76vw;
	background: #f0eeec;
}
.geography .title-section {
	position: relative;
	z-index: 2;
}
.geography__image {
	margin-top: -1.563vw;
}
.geography__image img {
	width: 62.135vw;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.footer {
	padding-top: 2.76vw;
	color: #fff;
	background: #2b160e;
}
.footer__logo {
	margin-top: -1.354vw;
	display: flex;
	align-items: center;
}
.footer__logo .logo-descr {
	padding-top: 0.469vw;
	margin-left: 2.188vw;
}
.footer__nav {
	columns: 2;
}
.footer__nav li {
	margin-bottom: 1.25vw;
	font-size: 0.781vw;
	font-weight: 700;
	text-transform: uppercase;
	break-inside: avoid;
}
.footer__nav li a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__nav li a:hover {
	border-color: #fff;
}
.footer__contacts p a {
	color: #fff;
}
.footer__location {
	margin-bottom: 0.938vw;
	font-size: 0.729vw;
	max-width: 10.208vw;
	line-height: 130%;
}
.footer__location strong {
	font-weight: 600;
	display: block;
}
.footer__contacts p {
	margin-bottom: 0.573vw;
}
.list-socials {
	display: flex;
	align-items: center;
}
.list-socials li {
	margin-right: 1.25vw;
}
.list-socials li:last-child {
	margin-right: 0;
}
.footer__contacts .list-socials {
	padding-top: 0.625vw;
}
.footer-bottom {
	padding: 0.521vw 0;
	margin-top: 1.719vw;
	font-size: 0.729vw;
	line-height: 150%;
	color: #f0f3f4;
	border-top: 1px solid rgba(240, 243, 244, 0.3);
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 0.781vw;
} 
.create img {
	width: 3.75vw;
}
.footer-bottom a {
	color: #f0f3f4;
}
.footer-bottom a:hover {
	color: #fff;
}
.btn_top {
	font-size: 0.938vw;
	float: right;
	position: relative;
	color: #2b160e !important; 
	width: 2.083vw;
	height: 2.083vw;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	opacity: 0.8;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 10px;
	height: 10px;
}
.slick-dots li button {
	width: 10px;
	height: 10px;
	background: #2b160e;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
	opacity: 0.5;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	opacity: 1;
}
.slick-dots li button::before {
	  display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
    width: 38px;
    height: 38px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 8px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center; 
	border-radius: 50%;
	border: 1px solid #fff;
	z-index: 20;
	display: none;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 18px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.menu-overlay {
	display: none;
}
.phone-mobile {
	display: none;
}

.page-contacts {
	padding-top: 2.4vw;
	padding-bottom: 7.29vw;
	background-image: url(../img/bg_page.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.page-contacts .title-section {
	padding-bottom: 1.93vw;
}
.contacts-block {
	padding: 1.04vw 1.98vw;
	font-size: 0.94vw;
	margin-bottom: 1.56vw;
	line-height: 178%;
	background: #fff;
}
.contacts-block strong {
	font-weight: 600;
}
.contacts-block__title {
	font-size: 1.67vw;
	margin-bottom: 0.68vw;
	line-height: 175%;
	text-transform: uppercase;
	color: #2b160e;
	font-weight: 700;
}
.contacts-block__subtitle {
	font-size: 1.25vw;
	line-height: 233%;
	font-weight: 700;
	text-transform: uppercase;
	color: #2b160e;
	margin-bottom: 0.16vw;
}
.contacts-block__subtitle:not(:first-child) {
	margin-top: 1.56vw;
}
.wrapper_page {
	padding-top: 4.27vw;
}
.contacts-block__name {
	font-weight: 700;
}
.contacts-block__item {
	margin-bottom: 1.72vw;
}
.contacts-block__item:last-child {
	margin-bottom: 0;
}
.contacts-block__value {
	font-size: 1.25vw;
	line-height: 178%;
}
.contacts-block p a,
.contacts-block__value a {
	color: #3d3c3c;
}
.contacts-block__value span {
	font-size: 0.83vw;
	margin-left: 0.26vw;
}
.contacts-block.contacts-block_bottom {
	padding: 2.34vw 3.75vw;
	padding-right: 2.5vw;
	padding-bottom: 2.08vw;
}
#map {
	height: 26.04vw;
	margin-top: 3.91vw;
	background: #fff;
	width: 100%;
}

.page-news {
	padding-top: 2.4vw;
	padding-bottom: 7.3vw;
	background-image: url(../img/bg_page.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.page-news .title-section {
	margin-bottom: 2.3vw;
}
.item-news {
	font-size: 0.94vw;
	line-height: 167%;
	color: #3d3c3c;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	position: relative;
}
.item-news__image {
	height: 12.6vw;
	width: 100%;
	display: block;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-news__content {
	padding: 1.4vw 1.6vw;
	padding-bottom: 2.4vw;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex: 1;
	position: relative;
}
.item-news::after {
	position: absolute;
	display: block;
	content: " ";
	bottom: 0.78vw;
	right: 0.78vw;
	width: 1.25vw;
	height: 1.25vw;
	background-image: url(../img/circle_arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 0.5s;
}
.item-news__title {
	font-size: 1.25vw;
	margin-bottom: 0.88vw;
	line-height: 150%;
	font-weight: 700;
	color: #2b160e;
	display: block;
	width: 100%;
}
.item-news__text {
	display: block;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-news:hover::after {
	transform: rotate(-45deg);
}
.item-news:hover {
	box-shadow: 0 0.26vw 0.781vw #ccc;
}
.pager {
	height: 2.6vw;
	margin-top: 1.88vw;
	max-width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	margin: 0 1.51vw;
	color: #3d3c3c;
}
.page-numbers.current {
	font-weight: 700;
}
.prev.page-numbers,
.next.page-numbers {
	width: 2.6vw;
	height: 2.6vw;
	font-size: 1.04vw;
	background: #e1ddda;
	border-radius: 50%;
	color: #2B160E;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
}
.next.page-numbers {
	right: 0;
	left: auto;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	color: #fff;
	background: #2b160e;
}

.menu__dropdown {
	padding: 1.771vw 5.417vw;
	font-size: 0.938vw;
	line-height: 178%;
	font-weight: 600;
	text-transform: uppercase;
	background: #e1ddd9;
	top: 100%;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 5;
	visibility: hidden;
	opacity: 0;
	transition: all 0.1s;
}
.menu > li.menu__haschild:hover > a::after,
.menu li:hover .menu__dropdown {
	visibility: visible;
	opacity: 1;
}
.menu__dropdown ul {
	columns: 5;
}
.menu__dropdown ul li {
	margin-bottom: 1.25vw;
}
.menu__dropdown ul li a {
	color: #2b160e;
	position: relative;
}
.menu__dropdown ul li a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 0;
	height: 0.104vw;
	bottom: 0;
	left: 0;
	transition: all 0.3s;
	background: #2b160e;
}
.menu__dropdown ul li a:hover::after {
	width: 100%;
}
.menu > li > a {
	position: relative;
}
.menu > li.menu__haschild > i {
	font-size: 0.838vw;
	margin-left: 0.625vw;
}
.menu > li.menu__haschild > a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 0.885vw;
	height: 0.885vw;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: -0.885vw;
	border: 0.417vw solid transparent;
	border-bottom: 0.417vw #e1ddd9 solid;
	opacity: 0;
	visibility: hidden;
}
.menu > li > a::before {
	bottom: -0.052vw;
}
.wrapper_page .header .menu > li.menu__haschild > a::after, 
.header.fixed .menu > li.menu__haschild > a::after {
	margin-top: -0.569vw;
}
.wrapper_page .header .menu li a::before,
.header.fixed .menu li a::before {
    bottom: -0.552vw;
}
.wrapper_page .header .menu__dropdown,
.header.fixed .menu__dropdown {
	margin-top: -0.2vw;
}
.menu li i {
	display: none;
}
.page-categories {
	padding-top: 3.854vw;
	padding-bottom: 7.344vw;
	background-image: url(../img/bg_page_categories.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.page-categories .title-section {
	margin-bottom: 1.823vw;
}
.item-category {
	height: 16.875vw;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.item-category__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
}
.item-category:hover .item-category__image img {
	transform: scale(1.1);
}

.breadcrumbs {
	padding: 1vw 0;
	font-size: 0.729vw;
	line-height: 150%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #3D3C3C;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #3D3C3C;
}
.breadcrumbs li::after {
	content: "/";
	margin: 0 0.521vw;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.page-article .item-news {
	margin-bottom: 1.563vw;
	background: #f0eeec;
	min-height: initial;
}
.billbord-article {
	padding: 1.510vw;
	margin-bottom: 1.042vw;
	background: #f0eeec;
}
.billbord-article h1 {
	font-size: 1.875vw;
	line-height: 139%;
	font-family: 'Gotham Pro';
	font-weight: 900;
	color: #2b160e;
}
.billbord-article img {
	width: 100%;
	height: auto;
}
.nav-article__title {
	font-size: 0.938vw;
	font-weight: 700;
	margin-bottom: 0.521vw;
	color: #2b160e;
}
.page-article {
	font-size: 0.938vw;
	padding-bottom: 7.292vw;
	line-height: 178%;
}
.nav-article ol li {
	margin-bottom: 0.260vw;
}
.nav-article ol li a {
	color: #3d3c3c;
	border-bottom: 1px transparent solid;
}
.nav-article ol li a:hover {
	border-color: #3d3c3c;
}
.nav-article ol {
	padding-left: 1.042vw;
	margin: 0;
}
.page-article h2 {
	font-size: 1.250vw;
	margin-bottom: 0.781vw;
	margin-top: 1.823vw;
	line-height: 170%;
	color: #2b160e;
	font-weight: 700;
}
.article-content ul li {
	padding-left: 1.042vw;
	position: relative;
}
.article-content ul li::before {
	position: absolute;
	top: 0;
	left: 0.156vw;
	content: "•";
}
.article-content p a {
	color: #3d3c3c;
	border-bottom: 1px #3d3c3c solid;
}
.article-content p a:hover {
	border-color: transparent;
}
.image-article {
	height: 10.625vw;
	margin-bottom: 4.896vw;
	margin-left: -1.302vw;
	padding: 0.417vw;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #d9d9d9;
}
.image-article img {
	height: 100%;
	width: auto;
	max-width: 100%;
}
.row .col_article {
	padding-right: 2.604vw;
}

.page-production {
	padding-bottom: 7.292vw;
	background-image: url(../img/bg_production.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.production-main {
	margin-bottom: 3.125vw;
	line-height: 200%;
}
.production-main .title-section {
	margin-bottom: 3.125vw;
}
.production-main p {
	margin-bottom: 1.042vw;
}
.production-main p:last-child {
	margin-bottom: 0;
}
.production-main img {
	width: 100%;
}
.row .production-main__text {
	padding-right: 2.865vw;
}
.production-main__text + div .production-main__image {
	margin-left: -1.563vw;
}
.row .production-main__right {
	padding-left: 2.604vw;
}
.info-production {
	font-size: 2.188vw;
	padding: 3.698vw 11.615vw;
	margin-bottom: 3.646vw;
	line-height: 133%;
	font-weight: 700;
	text-transform: uppercase;
	color: #2b160e;
	background: #fff;
}
.info-production p {
	margin-bottom: 0.313vw;
}
.info-production p:last-child {
	margin-bottom: 0;
}
.info-production p + p {
	text-align: right;
}
.purpose {
	padding: 2.917vw;
	font-size: 0.938vw;
	line-height: 178%;
	background: #fff;
}
.purpose strong {
	font-weight: 600;
}
.purpose p a {
	color: #3d3c3c;
	white-space: nowrap;
}
.purpose .title-section {
	margin-bottom: 0.313vw;
	text-transform: uppercase;
}
.purpose__subtitle {
	font-size: 1.250vw;
	line-height: 233%;
	font-weight: 700;
	color: #2b160e;
}
.purpose__descr {
	font-size: 1.042vw;
	margin-bottom: 1.354vw;
	max-width: 26.042vw;
	line-height: 160%;
	font-weight: 600;
	color: #2b160e;
}
.photos__item {
	height: 17.813vw;
	display: block;
	overflow: hidden;
}
.photos__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	transition: all 1.5s;
}
.photos__item:hover img {
	transform: scale(1.1);
}
.purpose + .photos {
	margin-top: 4.427vw;
}
.photos {
	margin-bottom: 3.646vw;
}
.video-main,
.fancybox_video {
	position: relative;
}
.video-main img {
	width: 100%;
	height: auto;
}
.video-main::after {
	position: absolute;
	display: block;
	content: " ";
	width: 4.635vw;
	height: 4.635vw;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/play.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all 1s;
}
.video-main:hover::after {
	transform: scale(1.1);
}
.video-main iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s;
}
.video-main.active iframe {
	z-index: 5;
	opacity: 1;
}
.video-main.active img,
.video-main.active::after {
	opacity: 0;
}
.production-main .col-lg-7 {
	padding-top: 36px;
}
.page-production_warehouse .row .production-main__text {
	padding-right: 4.65vw;
}

.page-catalog {
	padding-bottom: 4.948vw;
}
.recommendations .title-section,
.page-catalog .title-section {
	font-size: 1.667vw;
	margin-bottom: 1.510vw;
	line-height: 175%;
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 700;
}
.sidebar-catalog {
	padding: 0.625vw 0.885vw;
	background: #e1ddd9;
}
.item-sidebar__head {
	color: #2b160e;
	line-height: 162%;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
}
.item-sidebar {
	margin-bottom: 0.313vw;
}
.item-sidebar:last-child {
	margin-bottom: 0;
}
.item-sidebar__content {
	font-size: 0.729vw;
	line-height: 129%;
	display: none;
}
.item-sidebar__content li {
	margin: 0.521vw 0;
}
.item-sidebar__content li a {
	color: #2b160e;
	border-bottom: 1px transparent solid;
}
.item-sidebar__content li.active a,
.item-sidebar__content li a:hover {
	border-color: #2b160e;
}
.item-catalog {
	display: block;
}
.item-catalog__image {
	height: 12.500vw;
	padding: 0.521vw;
	margin-bottom: 0.729vw;
	border: 1px solid #d9d9d9;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-catalog__image img {
	max-width: 100%;
	max-height: 100%;
}
.item-catalog__title {
	line-height: 162%;
	color: #3d3c3c;
	font-weight: 700;
	display: block;
	transition: all 0.3s;
}
.item-catalog:hover .item-catalog__title {
	color: #6e4535;
}
.btn-main {
	height: 2.813vw;
	padding: 0 1.562vw;
	font-size: 0.937vw;
	line-height: 144%;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.521vw;
	background: #2b160e;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: all 0.3s;
}
.btn-main:hover {
	background: #562e1f;
}
.btn-main_filter {
	display: none;
}

.page-card {
	padding-bottom: 4.010vw;
}
.title-card {
	font-size: 1.458vw;
	margin-bottom: 0.990vw;
	line-height: 200%;
	font-weight: 700;
	color: #2b160e;
}
.slider-nav:not(.slick-initialized) > li:not(:first-child),
.slider-for:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slider-for {
	border: 1px solid #d9d9d9;
}
.slider-for__item {
	height: 16.510vw;
	padding: 0.781vw;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.slider-for__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav__item {
	height: 5.052vw;
	padding: 0.260vw;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid #d9d9d9;
	transition: all 0.3s;
}
.slider-nav__item img {
	max-width: 100%;
	max-height: 100%;
}
.slider-nav .slick-slide {
	padding: 0 0.104vw;
}
.slider-nav {
	padding: 0 2.396vw;
	margin-top: 0.625vw;
}
.slider-nav .slick-list {
	margin: 0 -0.104vw;
}
.slider-nav__item:hover {
	border-color: #2b160e;
}
.slider-nav .slick-arrow {
	width: 1.563vw;
	height: 1.563vw;
	font-size: 0.729vw;
}
.slider-nav .slick-prev {
	left: 0;
}
.slider-nav .slick-next {
	right: 0;
}
.card-info {
	padding: 1.458vw;
	min-height: 16.042vw;
	line-height: 175%;
	background: #f0eeec;
}
.card-info ul li {
	padding-left: 1.042vw;
	position: relative;
}
.card-info ul li::before {
	position: absolute;
	top: 0;
	left: 0.156vw;
	content: "•";
}
.btn-page {
	padding: 0 0.729vw;
	height: 2.604vw;
	font-weight: 700;
	font-size: 0.833vw;
	line-height: 162%;
	background: #e1ddda;
	border-radius: 0.521vw;
	color: #2b160e;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: none;
}
.btn-page:hover {
	background: #2b160e;
	color: #fff;
}
.btn-page:hover img {
	filter: brightness(0) invert(1);
}
.btn-page img {
	width: 1.25vw;
	margin-left: 0.573vw;
}
.page-card .btn-page {
	margin-top: 2.344vw;
}
.recommendations {
	padding-bottom: 4.010vw;
}
.recommendations .title-section {
	text-transform: none;
}
.menu__parent {
	position: relative;
	display: flex;
	align-items: center;
}
.menu__parent .menu__dropdown {
	padding: 0.781vw;
	width: 18.229vw;
}
.menu__parent .menu__dropdown ul {
	columns: initial;
}
.wrapper_page .header .menu__parent .menu__dropdown,
.header.fixed .menu__parent .menu__dropdown {
    margin-top: 0.313vw;
}
.menu__haschild.menu__parent > i {
	display: block;
}
.menu__parent .menu__dropdown ul li:last-child {
	margin-bottom: 0;
}

.page-about {
	padding-bottom: 7.813vw;
	background-image: url(../img/bg_production.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.about-main {
	padding: 1.250vw;
	padding-left: 3.802vw;
	font-size: 0.938vw;
	margin-bottom: 6.458vw;
	line-height: 178%;
	background: #fff;
}
.about-main p {
	margin-bottom: 1.042vw;
}
.about-main img {
	width: 100%;
	height: auto;
	display: block;
}
.about-main__bottom {
	gap: 3.854vw;
	margin-top: 2.969vw;
	font-size: 0.729vw;
	line-height: 140%;
	display: flex;
	align-items: flex-end;
}
.about-main__bottom a {
	color: #3d3c3c;
}
.about-main__name {
	font-size: 0.833vw;
	line-height: 162%;
	font-weight: 700;
}
.about-main__bottom p {
	margin-bottom: 0.365vw;
}
.about-main__bottom p:last-child {
	margin-bottom: 0;
}
.about-main .about-main__content {
	padding-right: 3.125vw;
	padding-top: 1.5vw;
}
.about-main__image {
	margin-left: -1.563vw;
}
.item-team {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background: #f5f5f5;
	line-height: 162%;
	transition: all 0.3s;
}
.item-team:hover {
	box-shadow: 0 0.260vw 0.781vw #ccc;
}
.item-team__image {
	height: 21.615vw;
	width: 100%;
	border: 1px solid #d9d9d9;
}
.item-team__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-team__content {
	padding: 0.521vw 0.781vw;
	padding-bottom: 0.990vw;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
}
.item-team__name {
	margin-bottom: 0.156vw;
	line-height: 162%;
	font-weight: 700;
}
.item-team__name span {
	text-transform: uppercase;
	display: block;
}
.item-team__bottom {
	font-size: 0.729vw;
	padding-top: 0.990vw;
	width: 100%;
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item-team__bottom a {
	color: #3d3c3c;
}
.page-about .title-section {
	margin-bottom: 2.292vw;
}

.page-charity {
	padding-bottom: 7.813vw;
	background-image: url(../img/bg_production.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.page-charity .title-section {
	margin-bottom: 2.604vw;
}
.charity-block {
	padding: 2.760vw 5.365vw;
	font-size: 0.938vw;
	margin-bottom: 2.24vw;
	line-height: 167%;
	background: #fff;
}
.charity-block p {
	margin-bottom: 0.781vw;
}
.charity-block p:last-child {
	margin-bottom: 0;
}
.charity-block__title {
	font-size: 1.25vw;
	margin-bottom: 1.563vw;
	max-width: 26.042vw;
	line-height: 150%;
	font-weight: 700;
	color: #2b160e;
}
.charity-block__image img {
	width: 100%;
}
.charity-block .charity-block__content {
	padding-right: 3.125vw;
	padding-top: 2.604vw;
}
.charity-block.charity-block_page {
	padding: 1.771vw;
	padding-right: 4.271vw;
}
.charity-block.charity-block_page .charity-block__content {
	padding-top: 0;
	padding-left: 2.604vw;
	padding-right: 0.865vw;
}
.charity-block.charity-block_page .charity-block__image {
	margin-right: -1.563vw;
}
.charity-image img {
	width: 100%;
	height: auto;
}
.charity-image {
	margin-top: 3.75vw;
}

.page-clients {
	padding-top: 2.71vw;
	padding-bottom: 4.17vw;
	background-image: url(../img/bg_clients.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.page-clients .title-section {
	margin-bottom: 2.40vw;
}
.item-client {
	padding: 1.88vw;
	font-size: 0.94vw;
	margin-bottom: 1.30vw;
	line-height: 167%;
	background: #fff;
}
.item-client:last-child {
	margin-bottom: 0;
}
.item-client__left {
	position: relative;
}
.item-client__image img {
	width: 100%;
	height: auto;
	display: block;
}
.item-client__logo {
	width: 9.17vw;
	height: 5.16vw;
	top: 0.57vw;
	left: 0.63vw;
	padding: 0.52vw;
	border: 0.052vw solid #c4c4c4;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.item-client__logo img {
	max-width: 100%;
	max-height: 100%;
}
.item-client__title {
	font-size: 1.25vw;
	margin-bottom: 1.41vw;
	line-height: 150%;
	font-weight: 700;
	color: #2b160e;
}
.item-client__left {
	margin-right: 2.08vw;
}
.item-client__content {
	margin-left: -2.08vw;
}

.page-gosts {
	min-height: 32.81vw;
	padding-bottom: 2.60vw;
	background-image: url(../img/bg_gost.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.head-gosts {
	margin-bottom: 2.29vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-gosts .title-section {
	margin: 0;
}
.search-page {
	display: flex;
	align-items: center;
}
.search-page p {
	margin-right: 0.83vw;
}
.search-page__input {
	width: 26.67vw;
	position: relative;
}
.search-page__input input {
	height: 2.60vw;
	padding: 0 0.78vw;
	padding-right: 2.60vw;
	border: 0.078vw solid #ada59c;
	border-radius: 0.31vw;
	width: 100%;
	background: #fff;
	font-size: 0.83vw;
	font-family: 'Open Sans';
}
.search-page__btn {
	height: 2.60vw;
	width: 2.60vw;
	font-size: 0.94vw;
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: transparent;
	padding: 0;
}
.item-gost {
	margin-bottom: 1.25vw;
	line-height: 162%;
	color: #3d3c3c;
	display: flex;
	align-items: center;
}
.item-gost__icon img {
	width: 1.09vw;
	margin-right: 0.99vw;
}
.item-gost > img {
	width: 1.25vw;
	margin-left: 0.99vw;
}
.item-gost__icon + span {
	border-bottom: 1px transparent solid;
	transition: all 0.3s;
}
.item-gost:hover .item-gost__icon + span {
	border-color: #3d3c3c;
}
.item-client__descr {
	margin-top: 0.313vw;
	color: #989898;
}

.page-sertificats {
	padding-bottom: 3.49vw;
	background-image: url(../img/bg_sertificats.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}
.page-sertificats .title-section {
	margin-bottom: 1.46vw;
}
.item-sertificat {
	padding: 0.73vw 0.83vw;
	padding-bottom: 0.78vw;
	font-size: 0.94vw;
	line-height: 133%;
	color: #2b160e;
	background: #f5f5f5;
	min-height: 100%;
	display: block;
}
.item-sertificat:hover {
	box-shadow: 0 0.26vw 0.78vw #cfc7c7;
}
.item-sertificat__image {
	height: 25.21vw;
	margin-bottom: 0.36vw;
	width: 100%;
	display: block;
}
.item-sertificat__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}
.item-sertificat__title {
	padding: 0 0.36vw;
	padding-right: 1.93vw;
	display: block;
}
