/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body {
        font-size: 14px;
    }
    .menu {
        font-size: 13px;
        display: none;
    }
    .wrapper_page .header .logo img,
    .header.fixed .logo img,
    .logo img {
        width: 60px;
    }
    .logo-descr {
        font-size: 11px;
        width: 131px;
        margin-left: 15px;
    }
    .header .logo-descr {
        display: none;
    }
    .header__contacts {
        display: none;
    }
    .logo-wrap {
        margin: 0;
        position: relative;
    }
    .container {
        max-width: 720px;
        padding: 0 15px;
    }
    .header__wrapper {
        padding: 0 !important;
    }
    .header {
        font-size: 13px;
        padding: 5px 0;
        transition: all 0.3s;
    }
    .title-billbord {
        font-size: 28px;
        max-width: 500px;
    }
    .title-billbord strong {
        font-size: 33px;
    }
    .billbord {
        min-height: 400px;
        padding-top: 115px;
    }
    .list-socials a, .billbord__socials a {
        width: 30px;
        height: 30px;
    }
    .list-socials a img, .billbord__socials a img {
        width: 16px;
    }
    .billbord__socials li {
        margin-bottom: 12px;
    }
    .billbord__socials {
        right: 15px;
        top: -15px;
    }
    .title-section {
        font-size: 24px;
    }
    .about__info .title-section {
        margin-bottom: 15px;
    }
    .about__info p {
        margin-bottom: 15px;
    }
    .about__info {
        padding: 30px;
    }
    .about {
        padding: 40px 0;
    }
    .about__image {
        height: 220px;
    }
    .about__head {
        padding: 20px 25px;
        font-size: 20px;
    }
    .row_numbers .col-lg-5 .numbers__item {
        margin-right: 0;
    }
    .row_numbers .col-lg-7 .row {
        margin-left: 0;
    }
    .numbers__item {
        padding: 20px;
        height: 180px;
    }
    .row_numbers .col-lg-5 .numbers__item p {
        max-width: 320px;
    }
    .numbers__title {
        font-size: 33px;
        margin-bottom: 10px;
    }
    .row_numbers .col-lg-7 .col-md-6 .numbers__title {
        font-size: 33px;
    }
    .numbers__title span {
        font-size: 18px;
    }
    .categories {
        padding: 40px 0;
    }
    .row_numbers .col-12 .numbers__item p {
        max-width: 305px;
    }
    .categories .title-section {
        margin-bottom: 25px;
    }
    .item-category {
        padding: 10px;
        padding-bottom: 20px;
        font-size: 18px;
    }
    .item-category::after {
        bottom: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
    }
    .row > div {
        padding: 0 5px;
    }
    .row {
        margin: 0 -5px;
    }
    .row.row_main > div {
        margin-bottom: 10px;
    }
    .row.row_main {
        margin-bottom: -10px;
    }
    .slick-arrow {
        width: 28px;
        height: 28px;
        font-size: 14px;
    }
    .slick-prev {
        left: -30px;
    }
    .slick-next {
        right: -30px;
    }
    .item-partner {
        height: 55px;
        padding: 0 10px;
    }
    .partners .title-section {
        margin-bottom: 25px;
    }
    .partners {
        padding: 40px 0;
    }
    .geography__image img {
        width: 500px;
    }
    .geography__image {
        margin-top: -8px;
    }
    .geography {
        padding-top: 40px;
        padding-bottom: 30px;
    }
    .footer {
        padding-top: 25px;
    }
    .footer__nav li {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .footer .logo img {
        width: 75px;
    }
    .footer__logo {
        margin: 0;
        margin-bottom: 20px;
    }
    .footer__location {
        margin-bottom: 10px;
        font-size: 13px;
        max-width: 225px;
    }
    .footer__contacts {
        margin-top: 15px;
    }
    .list-socials li{ 
        margin-right: 20px;
    }
    .footer-bottom {
        padding: 10px 0;
        margin-top: 20px;
        font-size: 13px;
    }
    .create img {
        width: 70px;
    }
    .create a {
        margin-left: 10px;
    }
    .footer-bottom .row > div {
        margin-bottom: 10px;
    }
    .btn_top {
        font-size: 13px;
        width: 30px;
        height: 30px;
        margin-top: -30px;
    }
    .numbers {
        padding: 40px 0;
    }
    .sandwich {
        display: flex;
    }
    .phone-mobile {
        width: 38px;
        height: 38px;
        font-size: 15px;
        color: #fff;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
    }
    .menu-mobile {
        width: 100%;
        top: 100%;
        left: 0;
        max-height: calc(100vh - 60px);
        padding: 15px 15px;
        padding-bottom: 50px;
        display: none;
        overflow: auto;
        background-color: #2b160e;
        position: absolute;
    }
    .menu > li > a {
        margin: 0;
        padding: 10px 0;
        padding-right: 10px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        border-bottom: 1px solid #fff;
    }
    .menu > li.menu__haschild > a::after {
        font-size: 14px;
        margin-left: 0;
    }
    .menu-mobile .menu {
        display: block;
        margin: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .menu-overlay {
        top: 66px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: -1;
    }
    .header.active {
        background-color: #2b160e;
    }
    .menu-mobile .header__contacts {
        top: 0;
        margin: 0;
        position: relative;
        display: flex;
        align-items: flex-start;
    }
    .header__contact:nth-child(2) {
        font-size: 14px;
    }
    .header__contact {
        margin-right: 20px;
    }
    .header.fixed .header__contact:nth-child(1) {
        display: block;
    }
    .header__contact:nth-child(1) {
        max-width: 152px;
    }

    .menu li a::before {
        display: none;
    }
    .menu li:hover a::after {
        transform: none;
    }
    .menu .menu__haschild.active > a::after {
        transform: rotate(180deg);
    }
    .menu-mobile .list-socials {
        margin-top: 20px;
    }
    .footer__contacts {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .footer__item {
        margin-bottom: 15px;
        width: 50%;
    }
    .footer__item:nth-child(2) {
        margin-top: -2px;
    }
    .footer__contacts p {
        margin-bottom: 4px;
    }
    .footer__contacts p:last-child {
        margin-bottom: 0;
    }
    .wrapper_page {
        padding-top: 56px;
    }
    .page-contacts {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .page-contacts .title-section {
        padding-bottom: 30px;
    }
    .contacts-block {
        padding: 20px 15px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .contacts-block__title {
        font-size: 20px;
        margin-bottom: 0;
    }
    .contacts-block__subtitle {
        font-size: 14px;
        margin-top: 15px;
    }
    .contacts-block__subtitle:not(:first-child) {
        margin-top: 15px;
    }
    .contacts-block__value {
        font-size: 17px;
    }
    .contacts-block__value span {
        font-size: 13px;
        margin-left: 5px;
    }
    .contacts-block__item,
    .contacts-block__item:last-child {
        margin-bottom: 15px;
    }
    #map {
        height: 350px;
        margin-top: 30px;
    }
    .page-news {
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .page-news .title-section {
        margin-bottom: 25px;
    }
    .item-news__image {
        height: 165px;
    }
    .item-news__content {
        padding: 20px;
        padding-bottom: 40px;
    }
    .item-news__title {
        font-size: 17px;
        margin-bottom: 12px;
    }
    .item-news {
        font-size: 13px;
    }
    .item-news::after {
        width: 21px;
        height: 21px;
        bottom: 12px;
        right: 12px;
    }
    .pager {
        height: 40px;
        margin-top: 30px;
    }
    .prev.page-numbers, .next.page-numbers {
        height: 40px;
        width: 40px;
        font-size: 17px;
    }
    .page-numbers {
        margin: 0 18px;
    }
    .page-news .row.row_main > div {
        margin-bottom: 20px;
    }
    .page-news .row.row_main {
        margin-bottom: -20px;
    }

    .menu li i {
        display: block;
    }
    .menu > li.menu__haschild > i {
        width: 40px;
        height: 40px;
        font-size: 17px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        transition: all 0.3s;
    }
    .menu li {
        position: relative;
    }
    .menu > li.menu__haschild > a::after {
        display: none;
    }
    .menu__dropdown {
        padding: 15px;
        font-size: 13px;
        visibility: visible;
        opacity: 1;
        transition: initial;
        display: block;
        position: relative;
        top: 0;
        display: none;
    }
    .menu__dropdown ul {
        columns: 2;
    }
    .menu > li.menu__haschild.active > i {
        transform: rotate(180deg);
    }
    .page-categories .title-section {
        margin-bottom: 30px;
    }
    .page-categories {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .item-category {
        height: 195px;
    }
    .footer {
        font-size: 13px;
    }
    .breadcrumbs {
        padding: 15px 0;
        font-size: 13px;
        display: block;
    }
    .breadcrumbs li::after {
        margin: 0 7px;
    }
    .breadcrumbs li {
        display: inline;
    }
    .billbord-article {
        padding: 15px;
        margin-bottom: 20px;
    }
    .billbord-article h1 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    .nav-article__title {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .nav-article ol {
        padding-left: 15px;
    }
    .page-article {
        font-size: 14px;
        padding-bottom: 50px;
    }
    .nav-article ol li {
        margin-bottom: 7px;
    }
    .page-article h2 {
        font-size: 19px;
        margin-bottom: 10px;
        margin-top: 20px;
        line-height: 170%;
    }
    .image-article {
        height: 200px;
        margin-bottom: 0;
        margin-top: 20px;
        padding: 8px;
    }
    .article-content ul li {
        padding-left: 20px;
    }
    .article-content ul li::before {
        left: 3px;
    }
    .page-article .item-news {
        margin-bottom: 0;
        margin-top: 20px;
    }
    .production-main .title-section {
        margin-bottom: 20px;
    }
    .page-production {
        padding-bottom: 50px;
    }
    .production-main p {
        margin-bottom: 15px;
    }
    .row .production-main__text {
        padding-right: 5px;
    }
    .production-main {
        margin-bottom: 30px;
        line-height: 170%;
    }
    .production-main img {
        margin: 20px 0;
    }
    .info-production {
        font-size: 20px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .info-production p {
        margin-bottom: 15px;
    }
    .info-production p + p {
        text-align: left;
    }
    .purpose {
        padding: 20px;
        font-size: 14px;
    }
    .purpose .title-section {
        margin-bottom: 15px;
    }
    .purpose__subtitle {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 15px;
    }
    .purpose__descr {
        font-size: 14px;
        margin-bottom: 10px;
        max-width: 295px;
        line-height: 160%;
    }
    .photos__item {
        height: 120px;
    }
    .video-main::after {
        height: 40px;
        width: 40px;
    }
    .photos .row > div:nth-child(n+9) {
        display: none;
    }
    .production-main .col-lg-7 {
        padding-top: 0;
    }
    .page-production_warehouse .row .production-main__text {
        padding-right: 5px;
    }
    .sidebar-catalog {
        padding: 10px 15px;
        display: none;
    }
    .item-sidebar {
        margin-bottom: 6px;
        font-size: 15px;
    }
    .item-sidebar__content li {
        margin: 10px 0;
    }
    .item-sidebar__content {
        font-size: 14px;
    }
    .page-catalog .title-section {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .item-catalog__image {
        height: 184px;
        padding: 10px;
        margin-bottom: 14px;
    }
    .page-catalog {
        padding-bottom: 50px;
    }
    .btn-main_filter {
        padding: 0 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    .btn-main.btn-main_filter:hover {
        background: #2b160e;
    }
    .btn-main.btn-main_filter.active {
        background: #562e1f;
    }
    .btn-main {
        height: 45px;
        border-radius: 6px;
        font-size: 14px;
        padding: 0 25px;
    }
    .title-card {
        font-size: 24px;
        margin-bottom: 20px;
        line-height: 170%;
    }
    .slider-for__item {
        height: 220px;
        padding: 10px;
    }
    .slider-nav__item {
        height: 70px;
        padding: 4px;
    }
    .slider-nav .slick-slide {
        padding: 0 2px;
    }
    .slider-nav .slick-list {
        margin: 0 -2px;
    }
    .slider-nav {
        padding: 0 40px;
        margin-top: 15px;
    }
    .slider-nav .slick-arrow {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .card-info {
        padding: 20px 15px;
        min-height: initial;
        margin-top: 28px;
        line-height: 175%;
    }
    .card-info ul li {
        padding-left: 15px;
    }
    .card-info ul li::before {
        left: 0px;
    }
    .btn-page img {
        width: 20px;
        margin-left: 10px;
    }
    .btn-page {
        padding: 0 20px;
        height: 44px;
        font-weight: 700;
        font-size: 14px;
        border-radius: 6px;
    }
    .page-card .btn-page {
        margin-top: 25px;
    }
    .recommendations .title-section {
        font-size: 20px;
        margin-bottom: 20px;
        line-height: 170%;
    }
    .page-card,
    .recommendations {
        padding-bottom: 40px;
    }
    .menu__parent {
        display: block;
    }
    .menu__parent .menu__dropdown {
        width: 100%;
        padding: 15px;
    }
    .menu__dropdown {
        margin-top: 0 !important;
    }
    .about-main {
        padding: 20px 15px;
        font-size: 14px;
        margin-bottom: 35px;
    }
    .about-main p {
        margin-bottom: 15px;
    }
    .about-main__bottom p {
        margin-bottom: 7px;
    }
    .about-main__bottom {
        gap: 20px;
        margin-top: 20px;
        font-size: 13px;
    }
    .about-main__name {
        font-size: 14px;
        margin-bottom: 4px;
    }
    .about-main__image {
        margin: 0;
        margin-top: 20px;
    }
    .page-about .title-section {
        margin-bottom: 26px;
    }
    .item-team__image {
        height: 375px;
    }
    .item-team__content {
        padding: 10px 15px;
        padding-bottom: 18px;
    }
    .item-team__name {
        margin-bottom: 7px;
    }
    .item-team__bottom {
        font-size: 14px;
        padding-top: 20px;
    }
    .page-about {
        padding-bottom: 45px;
    }
    .about-main .about-main__content {
        padding-left: 5px;
        padding-top: 0;
    }
    .page-charity .title-section {
        margin-bottom: 25px;
    }
    .page-charity {
        padding-bottom: 50px;
    }
    .charity-block {
        padding: 20px 15px;
        font-size: 14px;
        margin-bottom: 25px;
    }
    .charity-block__title {
        font-size: 18px;
        margin-bottom: 15px;
        max-width: 100%;
    }
    .charity-block p {
        margin-bottom: 15px;
    }
    .charity-block.charity-block_page {
        padding: 20px 15px;
    }
    .charity-block.charity-block_page .charity-block__image {
        margin: 0;
    }
    .charity-block.charity-block_page .charity-block__content {
        padding-left: 5px;
        padding-top: 20px;
    }
    .charity-block p:last-child {
        margin-bottom: 15px;
    }
    .charity-block__image img {
        width: auto;
        max-width: 100%;
    }
    .head-gosts {
        margin-bottom: 25px;
        display: block;
    }
    .search-page {
        margin-top: 20px;
        display: block;
    }
    .search-page p {
        margin: 0;
        margin-bottom: 15px;
    }
    .search-page__input {
        width: 100%;
    }
    .search-page__input input {
        height: 40px;
        padding: 0 15px;
        padding-right: 50px;
        border: 1px solid #ada59c;
        border-radius: 5px;
        font-size: 14px;
    }
    .search-page__btn {
        height: 40px;
        width: 40px;
        font-size: 15px;
    }
    .item-gost__icon img {
        width: 19px;
        margin-right: 9px;
    }
    .item-gost > img {
        width: 23px;
        margin-left: 10px;
    }
    .item-gost {
        margin-bottom: 20px;
    }
    .page-clients {
        padding-top: 30px;
        padding-bottom: 50px;
    }    
    .page-clients .title-section {
        margin-bottom: 25px;
    }
    .item-client {
        padding: 15px;
        font-size: 14px;
        margin-bottom: 20px;
    }
    .item-client__left {
        margin-right: 0;
    }
    .item-client__content {
        padding-top: 20px;
        margin-left: 0;
    }
    .item-client__title {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .item-client__descr {
        margin-top: 6px;
    }
    .item-client__logo {
        width: 120px;
        height: 65px;
        top: 5px;
        left: 5px;
        padding: 5px;
    }
    .item-sertificat {
        padding: 14px;
        font-size: 14px;
    }
    .item-sertificat__image {
        height: 271px;
        margin-bottom: 13px;
    }
    .page-sertificats .title-section {
        margin-bottom: 26px;
    }
    .page-sertificats {
        padding-bottom: 45px;
    }
    .item-sertificat__title {
        padding: 0 7px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .title-billbord {
        font-size: 23px;
        max-width: 420px; 
    }
    .title-billbord strong {
        font-size: 29px;
    }
    .billbord {
        min-height: 500px;
        padding-top: 150px;
        background-image: url(../img/billbord_mob.jpg);
    }
    .item-category {
        font-size: 16px;
        line-height: 140%;
    }
    .item-category__title {
        padding: 0 20px;
    }
    .slider-partners {
        padding-bottom: 30px;
    }
    .billbord__socials {
        display: none;
    }
    .item-category {
        height: 250px;
    }
    .item-sertificat {
        max-width: 220px;
        margin: 0 auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .title-billbord {
        font-size: 23px;
        max-width: 333px;
        line-height: 160%;
    }
    .title-billbord strong {
        font-size: 26px;
    }
    .about__info {
        padding: 25px 20px;
    }
    .about__image {
        height: 190px;
    }
    .about__head {
        font-size: 16px;
        padding: 15px;
    }
    .item-category {
        font-size: 16px;
        height: 220px;
    }
    .item-category::after {
        bottom: 5px;
        right: 6px;
        width: 16px;
        height: 16px;
    }
    .item-sertificat {
        padding: 6px;
        font-size: 13px;
    }
    .video-main {
        height: 190px;
    }
    .video-main img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;';
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 390px) {
    .title-billbord {
        font-size: 20px;
        max-width: 320px;
    }
    .title-billbord strong {
        font-size: 24px;
    }
    .item-sertificat__title {
        padding: 0;
    }
    .item-sertificat__image {
        height: 220px;
        margin-bottom: 9px;
    }
    .item-sertificat {
        max-width: 166px;
    }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .menu-overlay,
    .menu-mobile {
        display: none !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-width: 1600px) {

}